header {
  margin: 50px 0;
}

body {
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic,
    游ゴシック体, "ヒラギノ角ゴ Pro W3", メイリオ, sans-serif;
  max-width: 100%;
  margin: 0 5%;
}

.container {
  width: 90%;
  max-width: px;
  margin: auto;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

body {
  margin: 0;
  max-width: 100%;
  margin: 0 5%;
}

.header-color {
  background-color: black;
  width: 50%;
  transform: translateY(-20px);
  bottom: 0;
  height: 15px;
}

.header-color {
  background-color: #e74c3c;
  animation: bg-color 8s infinite;
  -webkit-animation: bg-color 8s infinite;
}

@-webkit-keyframes bg-color {
  0% {
    background-color: #e74c3c;
  }
  20% {
    background-color: #f1c40f;
  }
  40% {
    background-color: #1abc9c;
  }
  60% {
    background-color: #3498db;
  }
  80% {
    background-color: #9b59b6;
  }
  100% {
    background-color: #e74c3c;
  }
}

@keyframes bg-color {
  0% {
    background-color: #e74c3c;
  }
  20% {
    background-color: #f1c40f;
  }
  40% {
    background-color: #1abc9c;
  }
  60% {
    background-color: #3498db;
  }
  80% {
    background-color: #9b59b6;
  }
  100% {
    background-color: #e74c3c;
  }
}

.top-logo span {
  color: #e74c3c;
  animation: color 8s infinite;
  -webkit-animation: color 8s infinite;
}

@-webkit-keyframes color {
  0% {
    color: #e74c3c;
  }
  20% {
    color: #f1c40f;
  }
  40% {
    color: #1abc9c;
  }
  60% {
    color: #3498db;
  }
  80% {
    color: #9b59b6;
  }
  100% {
    color: #e74c3c;
  }
}

@keyframes color {
  0% {
    color: #e74c3c;
  }
  20% {
    color: #f1c40f;
  }
  40% {
    color: #1abc9c;
  }
  60% {
    color: #3498db;
  }
  80% {
    color: #9b59b6;
  }
  100% {
    color: #e74c3c;
  }
}

.header-logo {
}

.header-logo a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  display: flex;
}

.header-toggle ul {
  width: 200px;
}

.header-contact {
}

.header-contact a {
  text-decoration: none;
  font-size: 24px;
  color: black;
}

.header-nav ul {
  transform: translateX(-30px);
  font-size: 15px;
  font-weight: 600;
  list-style: none;
  display: none;
}

.header-nav {
  margin-left: 30px;
}

.header-nav img {
  width: 45px;
  height: 45px;
  transform: translateY(-8px);
}

.header_button a {
  animation: header_off0 0.5s cubic-bezier(1, 0, 0, 1) forwards;
}

.header_button a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.header_button a div span,
.keyword_button > div {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
}

.top {
  margin-top: 200px;
  margin-bottom: 250px;
  margin-left: 50px;
}

.top-logo {
  width: 80%;
}

.top-logo h3 {
  font-size: 75px;
  font-weight: 800;
  margin: 0;
}

.top-logo span {
}

.top-logo p {
  font-size: 20px;
  transform: translateY(px);
  margin: 0;
}

.top-me {
  width: 80%;
}

.top-me p {
  font-size: 25px;
}

.sc {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  float: right;
  margin-top: 50px;
}

.sc p {
  font-size: 20px;
}

.sc span {
  font-size: 22px;
  font-weight: bold;
  margin-top: 5px;
}

.consult {
  display: flex;
  justify-content: space-around;
}

.consult-me {
  width: 45%;
  margin-top: 50px;
}

.consult-me h3 {
  width: 100%;
  font-size: 30px;
  margin: 0;
  margin-bottom: 5%;
}

.consult-me span {
  font-size: 20px;
  width: 100%;
  color: #abacad;
}

.consult-me p {
  width: 100%;
}

.consult-img {
  width: 45%;
}

.consult-img img {
  width: 100%;
  height: 90%;
}

.consult1 {
  margin: 10% 20%;
}
.consult1-top {
  text-align: center;
}
.consult1-top h3 {
}
.consult1-me {
}
.consult1-me p {
}
.consult1-me span {
  background: linear-gradient(transparent 70%, #e5bb09 70%);
}

.consult2 {
  margin-bottom: 10%;
}
.consult2-top {
  text-align: center;
}
.consult2-top h3 {
  font-size: 40px;
}
.consult2-top span {
  color: #e74c3c;
}
.con-course {
  display: flex;
  justify-content: space-around;
}
.course {
  width: 27%;
  background-color: #e9e9e9;
  padding: 40px 5px;
}
.course-img {
  text-align: center;
  width: 100%;
}
.course-img img {
  width: 160px;
  height: 150px;
  border-radius: 50%;
}
.course-me {
  margin: 0 5%;
}
.course-me h3 {
  text-align: center;
  color: #e74c3c;
}
.course-me p {
  margin: 0;
  margin: 0 2%;
}

.footer {
  background-color: #005aa4;
  padding: 40px 0;
  width: 100%;
}

.footer p {
  margin: 0;
  text-align: right;
  color: #fff;
  padding-right: 10px;
}

/*header左から出てくる*/
.top {
  position: relative;
}

.top::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  animation: 3s slidein 0.5s forwards;
}

@keyframes slidein {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.header-color {
  position: relative;
}

.header-color::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  animation: 2s slidein 0.5s forwards;
}

@keyframes slidein {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.header-logo {
  position: relative;
}

.header-logo::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  animation: 2s slidein 0.5s forwards;
}

@keyframes slidein {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.header-nav {
  animation: 0.9s fadein 0.9s forwards;
  opacity: 0;
}

@keyframes fadein {
  from {
    bottom: px;
  }
  to {
    bottom: px;
    opacity: 1;
  }
}

.sc {
  animation: 0.9s fadein 0.9s forwards;
  opacity: 0;
}

@keyframes fadein {
  from {
    bottom: px;
  }
  to {
    bottom: px;
    opacity: 1;
  }
}

/*jquery左から*/

.slide-right {
  transform: translateX(500px);
}

.slide-left {
  transform: translateX(-1500px);
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.subbox {
  position: absolute;
  width: 40%;
  height: auto;
  border-radius: 10px;

  color: white;
  padding: 15px;
}
