header {
    margin: 50px 0;
}

body {
    font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, 游ゴシック体, "ヒラギノ角ゴ Pro W3", メイリオ, sans-serif;
    max-width: 100%;
    margin: 0 5%;
}

.container {
    width: 90%;
    max-width: px;
    margin: auto;
}

.clear::after {
    content: "";
    clear: both;
    display: block;
}

body {
    margin: 0;
    max-width: 100%;
    margin: 0 5%;
}

.header-color {
    background-color: black;
    width: 50%;
    transform: translateY(-20px);
    bottom: 0;
    height: 15px;
}

.header-color {
    background-color: #e74c3c;
    animation: bg-color 8s infinite;
    -webkit-animation: bg-color 8s infinite;
}

@-webkit-keyframes bg-color {
    0% {
        background-color: #e74c3c;
    }
    20% {
        background-color: #f1c40f;
    }
    40% {
        background-color: #1abc9c;
    }
    60% {
        background-color: #3498db;
    }
    80% {
        background-color: #9b59b6;
    }
    100% {
        background-color: #e74c3c;
    }
}

@keyframes bg-color {
    0% {
        background-color: #e74c3c;
    }
    20% {
        background-color: #f1c40f;
    }
    40% {
        background-color: #1abc9c;
    }
    60% {
        background-color: #3498db;
    }
    80% {
        background-color: #9b59b6;
    }
    100% {
        background-color: #e74c3c;
    }
}

.top-logo span {
    color: #e74c3c;
    animation: color 8s infinite;
    -webkit-animation: color 8s infinite;
}

@-webkit-keyframes color {
    0% {
        color: #e74c3c;
    }
    20% {
        color: #f1c40f;
    }
    40% {
        color: #1abc9c;
    }
    60% {
        color: #3498db;
    }
    80% {
        color: #9b59b6;
    }
    100% {
        color: #e74c3c;
    }
}

@keyframes color {
    0% {
        color: #e74c3c;
    }
    20% {
        color: #f1c40f;
    }
    40% {
        color: #1abc9c;
    }
    60% {
        color: #3498db;
    }
    80% {
        color: #9b59b6;
    }
    100% {
        color: #e74c3c;
    }
}

.header-logo {}

.header-logo a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    display: flex;
}

.header-toggle ul {
    width: 200px;
}

.header-contact {}

.header-contact a {
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.header-nav ul {
    transform: translateX(-30px);
    font-size: 15px;
    font-weight: 600;
    list-style: none;
    display: none;
}

.header-nav {
    margin-left: 30px;
}

.header-nav img {
    width: 45px;
    height: 45px;
    transform: translateY(-8px);
}

.header_button a {
    animation: header_off0 0.5s cubic-bezier(1, 0, 0, 1) forwards;
}

.header_button a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}

.header_button a div span, .keyword_button>div {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
}

.top {
    margin-top: 200px;
    margin-bottom: 250px;
    margin-left: 50px;
}

.top-logo {
    width: 80%;
}

.top-logo h3 {
    font-size: 75px;
    font-weight: 800;
    margin: 0;
}

.top-logo span {}

.top-logo p {
    font-size: 20px;
    transform: translateY(px);
    margin: 0;
}

.top-me {
    width: 80%;
}

.top-me p {
    font-size: 25px;
}

.workflow_content1 {
    position: relative;
    width: 90%;
    background: #FF7373;
    margin: 0 auto;
    text-align: center;
    transform: skew(0deg, 3deg);
    z-index: 1;
    top: 390px;
}

.workflow_content2 {
    position: relative;
    width: 90%;
    /* height: 1300px; */
    background: red;
    margin: 0 auto;
    text-align: center;
    transform: skew(0deg, 177deg);
    z-index: 2;
    top: 325px;
}

.workflow_content3 {
    position: relative;
    width: 90%;
    /* height: 1300px; */
    background: blue;
    margin: 0 auto;
    text-align: center;
    transform: skew(0deg, 3deg);
    z-index: 3;
    top: 260px;
}

.workflow_content4 {
    position: relative;
    width: 90%;
    /* height: 1300px; */
    background: blueviolet;
    margin: 0 auto;
    text-align: center;
    transform: skew(0deg, 177deg);
    z-index: 4;
    top: 195px;
}

.workflow_content5 {
    position: relative;
    width: 90%;
    /* height: 1300px; */
    background: yellowgreen;
    margin: 0 auto;
    text-align: center;
    transform: skew(0deg, 3deg);
    z-index: 5;
    top: 130px;
}

.workflow_content6 {
    position: relative;
    width: 90%;
    /* height: 1300px; */
    background: magenta;
    margin: 0 auto;
    text-align: center;
    transform: skew(0deg, 177deg);
    z-index: 4;
    top: 65px;
}

.color{
    
    padding: 15% 0;
    }
    .co{
    display: flex;
    justify-content: space-between;
    }
    .co-title{
    width: 40%;
    }
    .co-img{
    width: 100%;
    }
    .co-img img{
    width: 100%;
    }
    .co-h3{
    text-align: center;
    }
    .co-h3 h3{
    
    }
    .co-h3 p{
    
    }
    .co-me{
    width: 55%;
    }
    .co-me h3{
    
    }
    .co-me p{
    
    }
    